html{
    background-color: lightyellow;
    font-size: 25px;
}
p {
    background-color: aquamarine;  
    font-size: 30px;
    border: 10px dotted rgb(151, 85, 222);
    text-align: center;
    padding: 10px 50px;
    margin: 10px 100px;
}
h1 {
    color:rgb(232, 160, 215);
}
.special {
    background-color: indigo;
    border-radius: 100px;
    color: lightyellow;
}
.center-text{
    text-align: center;
}
