*{
    box-sizing: border-box;
}


body{
    background: rgb(48, 72, 64);
    transition: background-color 1s ;
}

.dark{
    background: rgb(26, 45, 32);
}

.menu{
    background-color: rgb(109, 141, 127);
    font-size: 150%;
    height:100vh;
    width: 300px;
    position:fixed;
    right:-300px;
    top:0;

    opacity: 0;

    padding: 20px;
    text-align: center;

    transition: all .3s .1s;
    opacity: .3s .1s; 
    background-color: .3s;

}


.active {
  opacity: 1;
  position: fixed;
  right:0;
}

.gear{

    background-color: rgb(109, 141, 127);
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    left:30px;

    transition: rotate .3s;
    background-color: .3s;

}

.spin{

    rotate: 180deg;

}

.glow{

    background-color: rgb(224, 255, 146);

}