*{
    box-sizing: border-box;
}

.main-container {

    background-color: cadetblue;
    padding: 10px;
    height: 600px;


    display: flex;
    flex-direction: column;

}

.top {

    background-color: blueviolet;
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.top-item {

    background-color: burlywood;
    width: 100%;

}



.bottom {

    background-color: blue;
    height: 80%;
}