*{
    box-sizing: border-box;
}



body {

background-image: linear-gradient(180deg, #ee9ca7, #fae589);
   background-position: center;  
  
    background-size: contain; 
    margin: 0;
    min-height: 100vh;
   
    background-repeat: no-repeat;
    background-attachment: fixed;
}




img{

    width: 300px;
    height: 300px;
    object-fit: contain; 
   
   
}




.images{
    width: 300px;
    height: 300px;
    object-fit: contain; 
  display: block; 
    
}



ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  border-radius: 25px;
  overflow: hidden;
  background-color: rgb(103, 103, 255);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(204, 204, 245);
}









  footer {
    display: flex;
    justify-content: space-between 20px;
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;;
    margin: 10px;
    background-color: rgb(103, 103, 255); 
    text-align:center;
    color: white; 
    position: fixed;
    right: 10px ;
    bottom: 10px;}

.container{

   height : 30%;
   
  

}



.block {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    height: 500px;
    width: 500px;
    padding: 30px;
    margin: 10px;
    }



 .background-image{
  width: 100vw;
  height: 200vh;
  object-fit: contain; 
  display: block; 
 
 
  
 }