html{
     background-color:blue;
     background-image: -moz-linear-gradient(-moz-linear-gradient);
    font-size: 25px; 
    .p1 {
  font-family: "times", arial, serif;
}
}
body{
    color: aqua;
    text-align: center;
    border: 10px groove aqua
}
p{
    font-family: "georgia", arial, serif;
    color: aqua;
    padding: 15px;
    font-size: 30px;
    
    
    

}

h1{
    color:aqua
}

.center-text{
    text-align: center;
}

table, th, td {
  border: 1px solid aqua;
  
  width: 1500px
}