html{
     background-color: mistyrose;
     background-image: -moz-linear-gradient(-moz-linear-gradient);
    font-size: 25px; 
    .p1 {
  font-family: "Georgia", arial, serif;
}
}
body{
    color: palevioletred;
    text-align: center;
}
p{
    font-family: "georgia", arial, serif;
    color: palevioletred;
    padding: 15px;
    font-size: 30px;
    border: 10px dotted 
    
    

}

h1{
    color:palevioletred
}

.center-text{
    text-align: center;
}

table, th, td {
  border: 1px solid palevioletred;
  
  width: 1500px
  
  
  
}


p{ 
    background-image: -moz-repeating-radial-gradient(dotted);

}