html{
     background-color: mistyrose;
    font-size: 25px; 
    .p1 {
  font-family: "Georgia", arial, serif;
}
}
body{
    color: palevioletred;
    text-align: center;
}
p{
    font-family: "georgia", arial, serif;
    color: palevioletred;
    font-size: 30px;
    border: 10px dotted 

}

h1{
    color:palevioletred
}

.center-text{
    text-align: center;
}

.button{
    background-color: lightgreen;
    font-size: 25px;
    border: darkgreen;
    color: darkgreen;
    box-shadow: inset;
    padding: 30px;
}