html{
     background-color:blue;
    font-size: 25px; 
    .p1 {
  font-family: "Georgia", arial, serif;
}
}
body{
    color:aqua;
    text-align: center;
    border: 10px groove aqua
}
p{
    font-family: "georgia", arial, serif;
    color: aqua;
    font-size: 30px;
   

}


.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: dodgerblue;
}


.button {
    background-color: blue;
    font-size: 25px;
    border: aqua;
    box-shadow: inset;
    padding: 30px;

}

h1{
    color:aqua
}

.center-text{
    text-align: center;
}

