*{
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 14, 144);
}


.container{

    outline: solid black;
    width: 100%;
    height: 100vh;
}





.bubbles{
  
    width: 300px;
    height: 300px;
    border-radius: 100%;
    animation: move 4s infinite;
    transition: background-color 0s, height 10s;


}


@keyframes move {

    0%{

        left:-150px;
    }

    100%{
        left:100%;
    }
}


.bubbles:active{
   opacity: 0% ;
   
}






.medium-bubbles{
   
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: background-color s, height 10s;
   


}

.medium-bubbles:active{

    opacity: 0%;
   
   
}

.small-bubbles{
   
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transition: background-color s, height 10s;
   


}

.small-bubbles:active{
 
   opacity: 0%;
}


.tiny-bubbles{
   
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: background-color s, height 10s;
   


}

.tiny-bubbles:active{
 
   opacity: 0% ;
}




.tiny-bubbles move {
   
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation: pulse 4s infinite alternate ease-in-out;

}

@keyframes move {

    0%{

        left:-150px;
    }



    100%{
        left:100%;
    }
}

.circle{
    background-color: lightgray;
    width: 100px;
    height: 100px;
    height: 100px;
    border-radius: 100%;
    animation: pulse 4s infinite alternate ease-in-out;

}

@keyframes pulse{
    0%{
        background-color: lightblue;
        height: 0px;
        width: 0px;
        /* scale: 1 */
    }

    100%{
        background-color: blue;
        height: 200px;
        width: 200px;
        /* scale: 1.4 */
       /*  this makes objects around it not move*/

    }
}